nav {
  /* Red so you know where you are */
  background-color: #cd5c5c
}

.with-button h1,
.with-button h2,
.with-button h3,
.with-button h4,
.with-button h5,
.with-button h6 {
  text-align: left;
}

.with-button form {
  float: right;
  margin-top: 2em;
  padding-right: 0;
}

/* Machines dashboard */
#machines .dashboard .load {
  display: flex;
}

#machines .dashboard .container-processes {
  width: 60%;
}

/* modal */
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
