nav {
  /* Red so you know where you are */
  background-color: #cd5c5c
}

.card {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0 !important; /* sorry */
}

.card header {
  background-color: #999;
  border-bottom: 1px solid #999;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
}

.card p {
  padding: 10px 0;
  margin-bottom: 10px;
}

.card pre {
  margin-left: auto;
  margin-right: auto;
}

.with-button h1,
.with-button h2,
.with-button h3,
.with-button h4,
.with-button h5,
.with-button h6 {
  text-align: left;
}

.with-button form {
  float: right;
  margin-top: 2em;
  padding-right: 0;
}
