img {
  width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

table {
  margin-bottom: 12px;
}

footer {
  text-align: center;
}

form .errors {
  color: #cd5c5c;
  font-weight: bold;
}

/* Strapless styling for textual inputs. Why not number too? */
form input[type="number"] {
  width: 100%;
  min-width: 18ch;
  padding: 1ch;
  margin-bottom: 1em;
  border: 1px solid #6c6c6c;
}

form aside input[type="number"],
form footer input[type="number"] {
  margin-bottom: 6px;
}

.logs.stdout .prefix { color: #7f9f7f; }
.logs.stderr .prefix { color: #cc9393; }

.logs .prefix {
  padding-right: 10px;
}

.logs .prefix:after {
  color: gray;
  content: "]";
}
.logs .prefix:before {
  color: gray;
  content: "[";
}

.logs .level-debug:before {
  content: "DEBUG ";
}

.logs .level-debug {
  color: gray;
}

.logs .level-info:before {
  color: #2a77ac; /* N.B. matches strapless .info */
  content: "INFO  ";
}

.logs .level-warn:before {
  color: #efefaf;
  content: "WARN  ";
}

.logs .level-error:before {
  color: #cc9393;
  content: "ERROR ";
}

.card {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0 !important; /* sorry */
}

.card header {
  background-color: #999;
  border-bottom: 1px solid #999;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
}

.card .permalink {
  float: right;
  font-size: 85%;
  font-style: italic;
  font-weight: normal;
}

.card p {
  padding: 10px 0;
  margin-bottom: 10px;
}

.card pre {
  margin-left: auto;
  margin-right: auto;
}
