img {
  width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

table {
  margin-bottom: 12px;
}

footer {
  text-align: center;
}

form .errors {
  color: #cd5c5c;
  font-weight: bold;
}

/* Strapless styling for textual inputs. Why not number too? */
form input[type="number"] {
  width: 100%;
  min-width: 18ch;
  padding: 1ch;
  margin-bottom: 1em;
  border: 1px solid #6c6c6c;
}

form aside input[type="number"],
form footer input[type="number"] {
  margin-bottom: 6px;
}

.stdout .prefix {
  color: #2A0;
}

.stderr .prefix {
  color: #E50;
}

.stdout .prefix,
.stderr .prefix {
  padding-right: 10px;
}

.stdout .prefix:after,
.stderr .prefix:after {
  color: gray;
  content: "]";
}

.stdout .prefix:before,
.stderr .prefix:before {
  color: gray;
  content: "[";
}

.card {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0 !important; /* sorry */
}

.card header {
  background-color: #999;
  border-bottom: 1px solid #999;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
}

.card p {
  padding: 10px 0;
  margin-bottom: 10px;
}

.card pre {
  margin-left: auto;
  margin-right: auto;
}
