img {
  width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

table {
  margin-bottom: 12px;
}

footer {
  text-align: center;
}

/* Strapless styling for textual inputs. Why not number too? */
form input[type="number"] {
  width: 100%;
  min-width: 18ch;
  padding: 1ch;
  margin-bottom: 1em;
  border: 1px solid #6c6c6c;
}

form aside input[type="number"],
form footer input[type="number"] {
  margin-bottom: 6px;
}
